.list-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: darkred;
  font-weight: 400;
  padding-bottom: 20px;
 }

.highlight {
  font-weight: 600;
}